* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;  
}

.container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(200, 200, 200);
    font-family: sans-serif;
}

.sidebar{
    height: 100%;
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(230, 230, 230);
    box-shadow: 0 0 5px black;
}

.options-section{
    height: calc(100% - 50px);
    padding: 10px 5px;
    font-size: 16px;
}

.form-group{
    margin-top: 5px;
}

input{
    width: 100%;
    height: 25px;
    padding: 5px;
}

button{
    cursor: pointer;
}

.btn-add{
    margin: 10px 0 20px;
    padding: 5px;
}

.btns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.btn-draw, .btn-cancel{
    width: 48%;
    height: 30px;
}

.btn-clear{
    width: 100%;
    height: 40px;
    font-size: 18px;
}

.canvas{
    margin-right: 10px;
    background-color: rgb(240, 240, 240);
}
